# Makefile files
.depend

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
test_bit_utils
test_driver
test_protocol
fake_device
mok_firmware
test_communication